#torch==1.6.0    # pip install torch==1.6.0+cu101 torchvision==0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
pororo==0.4.2
fairseq==0.10.2     # on windows, install with cloning git clone https://github.com/pytorch/fairseq
fastapi==0.63.0
uvicorn==0.13.4